.page-map{
    background:url(../images/bg/index.jpg) no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment:fixed;
    background-size: cover;
    height: 125vh;
}
.visitor{
    width: 100%;
    height: 110vh;
    /* background: #fdfcf8; */
    background: white;
    padding-top: 60px;
}
.visitor-head{
    height: 25%;
}
.visitor-body{
    height: 75%;
    background: white;
}
.visitor h1{
    color: black;
    font-size: 4rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
}
.visitor-word{
    text-align: center;
    margin: 20px auto;
    font-size: 1.25rem;
}
.globe-container{
    margin: 0px auto;
    padding: 0px;
    filter: blur(0px);
    color: #df5f5f;
}