.map{
    background:url(../images/bg/index.jpg) no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    background-attachment:fixed;
    background-size: cover;
    height: 130vh;
    min-height: 670px;
}
.visitor{
    width: 100%;
    height: 115vh;
    min-height: 650px;
    /* background: #fdfcf8; */
    background: rgb(13, 78, 131);
    background:url(../images/bg/sky.jpg) no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
    /* background-attachment:fixed; */
    background-size: cover;
    padding-top: 60px;
}
.visitor-head{
    height: 25%;
    padding: 0 10px;
}
.visitor-body{
    height: 75%;
}
.visitor h1{
    color: white;
    font-size: 4rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    -webkit-text-stroke:0.5px black;
}
.visitor-word{
    color: white;
    text-align: center;
    margin: 20px auto;
    font-size: 1.25rem;
    font-weight: 200;
}
.globe-container{
    margin: 0px auto;
    padding: 0px;
    filter: blur(0px);
    color: #df5f5f;
    touch-action: none;
}
